@model NewProjetVM
@using Colaborateur.Date.Models

@{
    ViewData["Title"] = "Edit Projet";
}

<div class="row text" style="margin-left:100px">
    <div class="col-md-8 offset-md-2">
        <h1><i class="bi bi-pencil-square"></i> Edit Projet : @Model.NomProjet</h1>
            <form asp-action="Edit">
                    <input type="hidden" asp-for="Id" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              <div class="saad">
                        <div>
                            <div class="form-group">
                                <label asp-for="NomProjet" class="control-label"> Name of Projet :</label>
                                <input asp-for="NomProjet" class="form-control" />
                                <span asp-validation-for="NomProjet" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DateDebut" class="control-label">Date start :</label>
                                <input asp-for="DateDebut" type="date" class="form-control" style="z-index: 2;" />
                                <span asp-validation-for="DateDebut" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DateFin" class="control-label">Date End :</label>
                                <input asp-for="DateFin" type="date" class="form-control"  style="z-index: 2;" />
                                <span asp-validation-for="DateFin" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="N_Collaborateur" class="control-label">N_Collaborateur:</label>
                                <input asp-for="N_Collaborateur" class="form-control" />
                                <span asp-validation-for="N_Collaborateur" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"> Description :</label>
                                <textarea asp-for="Description" class="form-control"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="form-group">
                                <label class="control-label">Collaborateurs:</label>
                                <div class="collaborateur-list">
                                    @if (Model.AllCollaborateurs != null)
                                    {
                                        foreach (var collaborateur in Model.AllCollaborateurs)
                                        {
                                            <div class="form-check">
                                                <input type="checkbox" id="collaborateur-@collaborateur.Id" name="SelectedCollaborateurIds" value="@collaborateur.Id" class="form-check-input" @(Model.SelectedCollaborateurIds.Contains(collaborateur.Id) ? "checked" : "") />
                                                <label class="form-check-label" for="collaborateur-@collaborateur.Id">@collaborateur.FullName</label>
                                            </div>
                                        }
                                    }
                                </div>
                                <span asp-validation-for="SelectedCollaborateurIds" class="text-danger"></span>
                            </div>
              </div>
            <div class="form-group" style="width: 70%;margin-left: auto;margin-right: auto;">
                <div class="d-flex justify-content-between">
                        <input type="submit" value="Edit" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                </div
             </div>
           </form>
            </div>
        </div>
 <style >
    .saad {
        display: grid;
        grid-template-columns: 2fr 1fr; /* Deux colonnes égales */
        grid-gap: 110px; /* Espace entre les éléments de grille */
    }

    .collaborateur-list {
        border-radius: 20px;
        height: 250px;
        text-align: center;
        width: 300px;
        overflow-y: auto;
        border: 1px solid #9370DB;
        padding: 5px;
        margin-bottom: 10px;
        margin-left: 140px;
        background-color: #fff;
    }

    .text {
        text-align: center;
        margin-top: 20px;
    }

    h1 {
        //margin-left:40px;
        text-align: center;
        font-family: Georgia, serif;
        font-style: italic;
        color: #9370DB;
        text-decoration-line: underline;
        font-size: 35px;
        font-weight: Semi Bold;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-control {
        width: 150%;
        margin-left: auto;
        margin-right: auto;
        left, padding: 8px;
        border: 1px solid #9370DB;
        border-radius: 35px;
        box-sizing: border-box;
        z-index: 2;
    }

    .btn {
        width: 70%;
    }

    label {
        margin-left: 50px;
        font-family: Georgia, serif;
        font-style: italic;
        font-weight: Semi Bold;
    }
</style>
